# Copied into server/conf/wow.env by scripts/bootstrap.sh.
# AzerothCore reads AC_<SETTING>, where dots and camel-case become underscores.

AC_GAME_TYPE=${WOW_GAME_TYPE}
AC_MAX_PLAYER_COUNT=${WOW_MAX_PLAYERS}
AC_MAP_UPDATE_THREADS=${WOW_MAP_UPDATE_THREADS}
AC_RATE_XP_KILL=${WOW_RATE_XP_KILL}
AC_RATE_XP_QUEST=${WOW_RATE_XP_QUEST}
AC_RATE_MONEY=${WOW_RATE_MONEY}

AC_AI_PLAYERBOT_ENABLED=${WOW_PLAYERBOTS_ENABLED}
AC_AI_PLAYERBOT_RANDOM_BOT_AUTOLOGIN=${WOW_RANDOM_BOTS_AUTOLOGIN}
AC_AI_PLAYERBOT_MIN_RANDOM_BOTS=${WOW_RANDOM_BOTS_MIN}
AC_AI_PLAYERBOT_MAX_RANDOM_BOTS=${WOW_RANDOM_BOTS_MAX}
AC_AI_PLAYERBOT_DISABLED_WITHOUT_REAL_PLAYER=${WOW_BOTS_ONLY_WITH_PLAYERS}

AC_AUCTION_HOUSE_BOT_GUIDS=${WOW_AHBOT_GUIDS}
AC_AUCTION_HOUSE_BOT_ENABLE_SELLER=${WOW_AHBOT_SELLER}
AC_AUCTION_HOUSE_BOT_BUYER_ENABLED=${WOW_AHBOT_BUYER}
AC_AUCTION_HOUSE_BOT_ITEMS_PER_CYCLE=${WOW_AHBOT_ITEMS_PER_CYCLE}
AC_AUCTION_HOUSE_BOT_BUYER_BUY_CANDIDATES_PER_BUY_CYCLE=${WOW_AHBOT_BUY_CANDIDATES}
AC_AUCTION_HOUSE_BOT_BUYER_ACCEPTABLE_PRICE_MODIFIER=${WOW_AHBOT_BUY_PRICE_MODIFIER}
AC_AUCTION_HOUSE_BOT_ALLIANCE_MIN_ITEMS=${WOW_AHBOT_ALLIANCE_ITEMS}
AC_AUCTION_HOUSE_BOT_ALLIANCE_MAX_ITEMS=${WOW_AHBOT_ALLIANCE_ITEMS}
AC_AUCTION_HOUSE_BOT_HORDE_MIN_ITEMS=${WOW_AHBOT_HORDE_ITEMS}
AC_AUCTION_HOUSE_BOT_HORDE_MAX_ITEMS=${WOW_AHBOT_HORDE_ITEMS}
AC_AUCTION_HOUSE_BOT_NEUTRAL_MIN_ITEMS=${WOW_AHBOT_NEUTRAL_ITEMS}
AC_AUCTION_HOUSE_BOT_NEUTRAL_MAX_ITEMS=${WOW_AHBOT_NEUTRAL_ITEMS}

AC_TRANSMOGRIFICATION_ENABLE=${WOW_TRANSMOG_ENABLED}
AC_TRANSMOGRIFICATION_USE_COLLECTION_SYSTEM=${WOW_TRANSMOG_COLLECTION}
AC_TRANSMOGRIFICATION_USE_VENDOR_INTERFACE=${WOW_TRANSMOG_VENDOR_INTERFACE}
AC_TRANSMOGRIFICATION_ENABLE_PORTABLE=${WOW_TRANSMOG_PORTABLE}
AC_TRANSMOGRIFICATION_SCALED_COST_MODIFIER=${WOW_TRANSMOG_SCALED_COST}
AC_TRANSMOGRIFICATION_COPPER_COST=${WOW_TRANSMOG_COPPER_COST}
AC_TRANSMOGRIFICATION_ALLOW_MIXED_WEAPON_TYPES=${WOW_TRANSMOG_MIXED_WEAPONS}
