# Copied into server/conf/wow.env by scripts/bootstrap.sh.
# AzerothCore reads AC_<SETTING>, where dots and camel-case become underscores.

AC_GAME_TYPE=${WOW_GAME_TYPE}
AC_MAX_PLAYER_COUNT=${WOW_MAX_PLAYERS}
AC_MAP_UPDATE_THREADS=${WOW_MAP_UPDATE_THREADS}
AC_RATE_XP_KILL=${WOW_RATE_XP_KILL}
AC_RATE_XP_QUEST=${WOW_RATE_XP_QUEST}
AC_RATE_MONEY=${WOW_RATE_MONEY}
AC_UPDATES_ENABLE_DATABASES=${WOW_DATABASE_UPDATES}

AC_AI_PLAYERBOT_ENABLED=${WOW_PLAYERBOTS_ENABLED}
AC_AI_PLAYERBOT_RANDOM_BOT_AUTOLOGIN=${WOW_RANDOM_BOTS_AUTOLOGIN}
AC_AI_PLAYERBOT_MIN_RANDOM_BOTS=${WOW_RANDOM_BOTS_MIN}
AC_AI_PLAYERBOT_MAX_RANDOM_BOTS=${WOW_RANDOM_BOTS_MAX}
AC_AI_PLAYERBOT_DISABLED_WITHOUT_REAL_PLAYER=${WOW_BOTS_ONLY_WITH_PLAYERS}

AC_AUCTION_HOUSE_BOT_GUIDS=${WOW_AHBOT_GUIDS}
AC_AUCTION_HOUSE_BOT_ENABLE_SELLER=${WOW_AHBOT_SELLER}
AC_AUCTION_HOUSE_BOT_BUYER_ENABLED=${WOW_AHBOT_BUYER}
AC_AUCTION_HOUSE_BOT_ITEMS_PER_CYCLE=${WOW_AHBOT_ITEMS_PER_CYCLE}
AC_AUCTION_HOUSE_BOT_BUYER_BUY_CANDIDATES_PER_BUY_CYCLE=${WOW_AHBOT_BUY_CANDIDATES}
AC_AUCTION_HOUSE_BOT_BUYER_ACCEPTABLE_PRICE_MODIFIER=${WOW_AHBOT_BUY_PRICE_MODIFIER}
AC_AUCTION_HOUSE_BOT_ALLIANCE_MIN_ITEMS=${WOW_AHBOT_ALLIANCE_ITEMS}
AC_AUCTION_HOUSE_BOT_ALLIANCE_MAX_ITEMS=${WOW_AHBOT_ALLIANCE_ITEMS}
AC_AUCTION_HOUSE_BOT_HORDE_MIN_ITEMS=${WOW_AHBOT_HORDE_ITEMS}
AC_AUCTION_HOUSE_BOT_HORDE_MAX_ITEMS=${WOW_AHBOT_HORDE_ITEMS}
AC_AUCTION_HOUSE_BOT_NEUTRAL_MIN_ITEMS=${WOW_AHBOT_NEUTRAL_ITEMS}
AC_AUCTION_HOUSE_BOT_NEUTRAL_MAX_ITEMS=${WOW_AHBOT_NEUTRAL_ITEMS}

AC_TRANSMOGRIFICATION_ENABLE=${WOW_TRANSMOG_ENABLED}
AC_TRANSMOGRIFICATION_USE_COLLECTION_SYSTEM=${WOW_TRANSMOG_COLLECTION}
AC_TRANSMOGRIFICATION_USE_VENDOR_INTERFACE=${WOW_TRANSMOG_VENDOR_INTERFACE}
AC_TRANSMOGRIFICATION_ENABLE_PORTABLE=${WOW_TRANSMOG_PORTABLE}
AC_TRANSMOGRIFICATION_SCALED_COST_MODIFIER=${WOW_TRANSMOG_SCALED_COST}
AC_TRANSMOGRIFICATION_COPPER_COST=${WOW_TRANSMOG_COPPER_COST}
AC_TRANSMOGRIFICATION_ALLOW_MIXED_WEAPON_TYPES=${WOW_TRANSMOG_MIXED_WEAPONS}

AC_DUNGEON_RESPAWN_ENABLE=${WOW_DUNGEON_RESPAWN_ENABLED}
AC_DUNGEON_RESPAWN_RESPAWN_HEALTH_PCT=${WOW_DUNGEON_RESPAWN_HEALTH_PCT}

AC_IP_TRACKER_ENABLED=${WOW_IP_TRACKER_ENABLED}
AC_IP_TRACKER_CLEAN_OLDER_THAN_DAYS=${WOW_IP_TRACKER_CLEANUP_DAYS}

AC_AUTO_FISH_ENABLED=${WOW_AUTOFISH_ENABLED}
AC_AUTO_FISH_TICK_MS=${WOW_AUTOFISH_TICK_MS}
AC_AUTO_FISH_SCAN_RANGE=${WOW_AUTOFISH_SCAN_RANGE}
AC_AUTO_FISH_BOBBER_ENTRIES=${WOW_AUTOFISH_BOBBER_ENTRIES}
AC_AUTO_FISH_SERVER_AUTO_LOOT=${WOW_AUTOFISH_SERVER_AUTO_LOOT}
AC_AUTO_FISH_AUTO_RECAST=${WOW_AUTOFISH_AUTO_RECAST}
AC_AUTO_FISH_RECAST_DELAY_MS=${WOW_AUTOFISH_RECAST_DELAY_MS}
AC_AUTO_FISH_RECAST_SPELL=${WOW_AUTOFISH_RECAST_SPELL}
AC_AUTO_FISH_AUTO_LOOT_DELAY_MS=${WOW_AUTOFISH_AUTO_LOOT_DELAY_MS}
AC_AUTO_FISH_REQUIRED_ITEM_ID=${WOW_AUTOFISH_REQUIRED_ITEM_ID}
AC_AUTO_FISH_REQUIRED_EQUIP_ID=${WOW_AUTOFISH_REQUIRED_EQUIP_ID}

AC_GAME_STATE_API_ENABLE=${WOW_GAME_STATE_API_ENABLED}
AC_GAME_STATE_API_HOST=${WOW_GAME_STATE_API_HOST}
AC_GAME_STATE_API_PORT=${WOW_GAME_STATE_API_PORT}
AC_GAME_STATE_API_ALLOWED_ORIGIN=${WOW_GAME_STATE_API_ALLOWED_ORIGIN}

AC_AUTO_SORT_ENABLE=${WOW_AUTOSORT_ENABLED}
AC_AUTO_SORT_MERGE_STACKS=${WOW_AUTOSORT_MERGE_STACKS}
AC_AUTO_SORT_SORT_BAGS=${WOW_AUTOSORT_SORT_BAGS}
AC_AUTO_SORT_ON_LOGIN=${WOW_AUTOSORT_ON_LOGIN}
AC_AUTO_SORT_COOLDOWN=${WOW_AUTOSORT_COOLDOWN}
AC_AUTO_SORT_PINNED_ITEMS=${WOW_AUTOSORT_PINNED_ITEMS}
AC_AUTO_SORT_PERIODIC_ENABLE=${WOW_AUTOSORT_PERIODIC_ENABLED}
AC_AUTO_SORT_PERIODIC_INTERVAL=${WOW_AUTOSORT_PERIODIC_INTERVAL}
AC_AUTO_SORT_PERIODIC_SKIP_IF_LOOTING=${WOW_AUTOSORT_PERIODIC_SKIP_IF_LOOTING}
AC_AUTO_SORT_PERIODIC_SKIP_IN_COMBAT=${WOW_AUTOSORT_PERIODIC_SKIP_IN_COMBAT}
AC_AUTO_SORT_PERIODIC_SORT_BANK=${WOW_AUTOSORT_PERIODIC_SORT_BANK}
AC_AUTO_SORT_PERIODIC_MESSAGE=${WOW_AUTOSORT_PERIODIC_MESSAGE}

AC_AUTO_LEARN_SKILLS_ENABLE=${WOW_AUTOLEARN_SKILLS_ENABLED}
AC_AUTO_LEARN_SKILLS_AUTO_LEARN_WEAPON_SKILLS=${WOW_AUTOLEARN_WEAPON_SKILLS}
AC_AUTO_LEARN_SKILLS_MAX_WEAPON_SKILLS=${WOW_AUTOLEARN_MAX_WEAPON_SKILLS}
AC_AUTO_LEARN_SKILLS_AUTO_LEARN_RIDING=${WOW_AUTOLEARN_RIDING}
AC_AUTO_LEARN_SKILLS_RIDING_APPRENTICE=${WOW_AUTOLEARN_RIDING_APPRENTICE}
AC_AUTO_LEARN_SKILLS_RIDING_GRANT_APPRENTICE_MOUNT=${WOW_AUTOLEARN_GRANT_APPRENTICE_MOUNT}
AC_AUTO_LEARN_SKILLS_RIDING_JOURNEYMAN=${WOW_AUTOLEARN_RIDING_JOURNEYMAN}
AC_AUTO_LEARN_SKILLS_RIDING_GRANT_JOURNEYMAN_MOUNT=${WOW_AUTOLEARN_GRANT_JOURNEYMAN_MOUNT}
AC_AUTO_LEARN_SKILLS_RIDING_EXPERT=${WOW_AUTOLEARN_RIDING_EXPERT}
AC_AUTO_LEARN_SKILLS_RIDING_GRANT_EXPERT_MOUNT=${WOW_AUTOLEARN_GRANT_EXPERT_MOUNT}
AC_AUTO_LEARN_SKILLS_RIDING_ARTISAN=${WOW_AUTOLEARN_RIDING_ARTISAN}
AC_AUTO_LEARN_SKILLS_RIDING_GRANT_ARTISAN_MOUNT=${WOW_AUTOLEARN_GRANT_ARTISAN_MOUNT}
AC_AUTO_LEARN_SKILLS_RIDING_COLD_WEATHER=${WOW_AUTOLEARN_COLD_WEATHER}

AC_AOE_LOOT_ENABLE=${WOW_AOE_LOOT_ENABLED}
AC_AOE_LOOT_MESSAGE=${WOW_AOE_LOOT_MESSAGE}
AC_AOE_LOOT_RANGE=${WOW_AOE_LOOT_RANGE}
AC_AOE_LOOT_GROUP=${WOW_AOE_LOOT_IN_GROUP}
